<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft App</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="background-image vh100">
    <main>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="white-logo-container">
                <img src="../assets/images/logo-white.png" alt="Logo Blanco" class="img-responsive center-block white-logo-2">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="pink-logo-container">
                <img src="../assets/images/logo-pink.png" alt="Logo Rosado" class="img-responsive center-block pink-logo">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  Botones -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="flex-container-btn">
                <a class="btn btn-default btns-register" href="#" role="button" id="login">LOG IN</a>
                <a class="btn btn-default btns-register" href="signup.html" role="button" id="signup">SIGN UP</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/register.js"></script>
  </body>
</html>
