<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft App</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="vh100">
    <!-- Contenido del website -->
    <main>
      <!-- Sección del logo -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="first-section-signup">
                <div class="container-icon">
                  <a href="verify.html" type="button" class="btn btn-default icon-button border-none">
                    <span class="glyphicon glyphicon-menu-left arrow-left different-arrow" aria-hidden="true"></span>
                  </a>
                </div>
                <div class="container-title text-center">
                  <h1 class="main-title-signup"><strong>Sign up</strong></h1>
                </div>
                <p class="main-title-paragraph-2 text-center">Join now for free ride credit</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Sección del formulario -->
      <section class="margin-top-2">
        <div class="container">
          <div class="">
            <form>
              <div class="form-group form-flex-container">
                <div class="input-group input-gr-name">
                  <span class="input-group-addon glyphicon glyphicon-user" id="sizing-addon1"></span>
                  <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name">
                  <input type="text" class="form-control" id="exampleInputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="form-group form-flex-container">
                <div class="input-group input-email">
                  <span class="input-group-addon glyphicon glyphicon-envelope" id="sizing-addon1"></span>
                  <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                </div>
              </div>
              <div class="checkbox text-center">
                <label>
                  <input type="checkbox" id="checkbox"> I agree to Lyft's<a href="#">Terms of Service</a>
                </label>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- Sección del botón -->
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 third-section">
              <button type="button" class="btn btn-default btn-lg btn-block active active-button" id="next-button-2" disabled>NEXT</button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap/css/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/signup2.js"></script>
  </body>
</html>
